<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="hero is-light">
        <div class="hero-body">
        <div class="block">
        <h1>New Complaint</h1>

        </div>
  <div class="column is-4 container">
  <div class="field block select">
    <%= form.collection_select :tag_id, Tag.all, :id, :tag_name, include_blank: 'Select Tag'%>
  </div>

  <div class="field block">
    <%= form.text_field :subject, class: 'input', placeholder: 'Subject' %>
  </div>

  <div class="field block">
    <%= form.text_field :description, class: 'textarea', placeholder: 'Description' %>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
  </div>
        </div>
</div>
<% end %>
